body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #27272f;
}

/* header {
    position: sticky;
    top: 0;
    z-index: 1;
} */

a i{
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: 1px solid #ec7519;
    font-size: 35px;
    border-radius: 100%;
    padding: 5px 10px;
    color: #ec7519;
}

nav {
    background-color: #27272f;
    border-bottom: 2px solid #ec7519;
    padding: 20px 0;
}

nav ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 5px 25px;
}

nav ul li a{
    text-decoration: none;
    color: #929295;
}

nav ul li a:hover {
    border-bottom: 1px solid #ec7519;
    color: #ec7519;
}

header div {
    background-color: #27272f;
    border-bottom: 1px solid #ec7519;
    padding: 20px 0;
}

header div ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

header div ul li {
    margin: 5px 25px;
}

header div ul li a {
    text-decoration: none;
    color: #929295;
}

header div ul li a:hover {
    border-bottom: 1px solid #ec7519;
    color: #ec7519;
}

main section {
    width: 100%;
    padding: 10px 0;
}

main section table {
    width: 90%;
    margin: auto;
    border-spacing: 2px;
}

main section table tr {
    text-align: center;
}

main section table th {
    background-color: #32333d;
    color: #ec7519;
    width: 25%;
    padding: 5px;
}

main section table td {
    background-color: #32333d;
    color: #929295;
    width: 25%;
    padding: 2px;
}

main section table img{
    width: 100%;
}

/* #Emojis img {
    width: 50%;
} */

footer {
    background-color: #27272f;
    border-top: 2px solid #ec7519;
    color: #929295;
    text-align: center;
    padding: 20px 0;
}

footer a{
    text-decoration: none;
    color: #929295;
}

footer a:hover {
    border-bottom: 1px solid #ec7519;
    color: #ec7519;
}

@media (max-width: 900px){ 
    section {
        overflow-x: auto;
    }
}